body {
	text-align: left;
	padding-left: 25px;
}
h1, h3 {
	font-family: "NeueHaasUnicaPro-Thin", Helvetica, sans-serif;
	font-weight: normal;
}
h1 { font-size: 34px;
}
p {
	font-family:"Courier New", monospace;
}
a {
	text-decoration: underline;
}