
body {
	background: rgba(242,242,242,1);
	font-family:"Neue Haas Unica W01 Light", sans-serif;
	text-align: center;
}

h1 {
	font-family: "Neue Haas Unica W01 Light", sans-serif;	
	font-size: 2.2em;
	margin-bottom: -20px;
}

#title {
		font-family: "Neue Haas Unica W01 Light", sans-serif;		
		font-size: 2.2em;
		margin-bottom: 25px;
}

.body {
	font-size:1.125em;
	font-family: "Neue Haas Unica W01 Light", sans-serif;

}
a {
	color: #000;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}




