@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=a52651d9-2bf3-4c15-840b-1b3e5c0ae931&fontids=1491978,1491986");
@font-face{
font-family:"Neue Haas Unica W01 Light";
src:url("../fonts/1491978/001e59a9-197e-4fb1-9e72-cef21b186c03.eot");
src:url("../fonts/1491978/001e59a9-197e-4fb1-9e72-cef21b186c03.eot") format("eot"),url("../fonts/1491978/e5716290-d41e-4c97-a27c-7a20a46ddf45.woff2") format("woff2"),url("../fonts/1491978/b681571f-aab2-4935-a99c-6ee1063ce638.woff") format("woff"),url("../fonts/1491978/1d88a9b0-aac0-40df-baf7-a630cd19cc5d.ttf") format("truetype"),url("../fonts/1491978/40a247b1-2840-4953-b24b-8a82ace0673b.svg#40a247b1-2840-4953-b24b-8a82ace0673b") format("svg");
}
@font-face{
font-family:"Neue Haas Unica W01 Medium It";
src:url("../fonts/1491986/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix");
src:url("../fonts/1491986/56b738a7-54b9-4e8c-a470-d96972ab3303.eot?#iefix") format("eot"),url("../fonts/1491986/2418a824-3af2-42d7-a62e-f7a77cf487d1.woff2") format("woff2"),url("../fonts/1491986/86b76db5-9343-473a-a106-60683cec7626.woff") format("woff"),url("../fonts/1491986/2b883332-01dc-4b55-ac6a-d24c84f0e334.ttf") format("truetype"),url("../fonts/1491986/7de50dd1-4a4e-47bf-bb5d-33bf1450649a.svg#7de50dd1-4a4e-47bf-bb5d-33bf1450649a") format("svg");
}

nav {
	font-family: "Neue Haas Unica W01 Light", sans-serif;	
	font-size: 1em;
	text-align: center;
	background-color: rgb(242,242,242);
}

header {
	font-family: "Neue Haas Unica W01 Light", sans-serif;	
	font-size: 2.2em;
	margin-bottom: 20px;
	text-align: center;
	background-color: rgb(242,242,242);
}

#main {
	text-align: center;
	background-color: rgb(242,242,242);
}

section {
	font-family: "Neue Haas Unica W01 Light", sans-serif;	
	font-size: 1.2em;
	text-align: center;
	background-color: rgb(242,242,242);
}

footer {
	font-family: "Neue Haas Unica W01 Light", sans-serif;	
	font-size: 1em;
	text-align: center;
	background-color: rgb(242,242,242);

}

a {
	color: #000;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}




