@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=a52651d9-2bf3-4c15-840b-1b3e5c0ae931&fontids=1492571,1492573");
@font-face{
font-family:"Neue Haas Unica W01SC Light";
src:url("Fonts/1492571/5c9ea5a4-465d-41f6-b0fd-1424ce0fe2ce.eot?#iefix");
src:url("Fonts/1492571/5c9ea5a4-465d-41f6-b0fd-1424ce0fe2ce.eot?#iefix") format("eot"),url("Fonts/1492571/cc03d696-9cbf-46af-86cf-fed748d897ff.woff2") format("woff2"),url("Fonts/1492571/403c08d3-b11d-461c-b3e2-bcb011a473a2.woff") format("woff"),url("Fonts/1492571/c1a9d3f8-4b06-4363-9e82-95eee30c764b.ttf") format("truetype"),url("Fonts/1492571/ad3f9f4e-ef4b-4578-9776-fd1bf3af270f.svg#ad3f9f4e-ef4b-4578-9776-fd1bf3af270f") format("svg");
}
@font-face{
font-family:"Neue Haas Unica W01SC Medium";
src:url("Fonts/1492573/a89cb2f0-2ae8-48a8-88c2-e0cc54976a88.eot?#iefix");
src:url("Fonts/1492573/a89cb2f0-2ae8-48a8-88c2-e0cc54976a88.eot?#iefix") format("eot"),url("Fonts/1492573/e3d6f8a3-46c6-4ecf-8d4d-444eca848c49.woff2") format("woff2"),url("Fonts/1492573/4f2bcb2a-2fb4-482c-962a-d8987399f074.woff") format("woff"),url("Fonts/1492573/fec17107-e593-4d31-8f68-73ec1a1c7539.ttf") format("truetype"),url("Fonts/1492573/7573fdbe-48b6-4c83-89eb-34f1dfb91b75.svg#7573fdbe-48b6-4c83-89eb-34f1dfb91b75") format("svg");
}


body {
	background: rgba(242,242,242,1);
	font-family:"Neue Haas Unica W01SC Light", sans-serif;
	text-align: center;
}

h1 {
	font-family: 'Neue Haas Unica W01SC Medium', sans-serif;	
	font-size: 2.2em;
	font-weight: bold;
	margin-bottom: -20px;
}

#title {
		font-family: 'Neue Haas Unica W01SC Medium', sans-serif;		
		font-size: 2.2em;
		margin-bottom: 25px;
}

.body {
	font-size:1.125em;
	font-family: 'Neue Haas Unica W01SC Light, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;

}
a {
	color: #000;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}




